<div class="card card-body p-5 mt-4">
  <h1 class="display-4">APP productos de animales</h1>
  <p class="lead">aca podra ingresar sus productos de mascota que estan a la venta</p>
  <hr class="my-4" />
  <p>
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>